{% extends 'base.html' %}
{% load staticfiles %}

{%block title%}2257{%endblock%}
{%block content%}
			<div class="main-grids">
				<div class="recommended">
<p><h4>While we are not a  US based company, most of our partners are so,</h4></p>
<p>				
<br>All models on this website are 18 years or older.  xrateddb.com has a zero-tolerance policy against illegal pornography.<br><br>
<h5>Disclaimer:</h5> <b>xrateddb.com is a search engine</b>, it only searches for porn tube movies.
All links and thumbnails displayed on this site are automatically added by our crawlers. The indexing process is completely automated.<br><br>
We do not own, produce, host or upload any videos displayed on this website, we only link to them.
If you find inappropriate content that you believe should be removed (illegal content, copyright infringement or dead links):<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- to remove physical video file please contact the site owner where it hosted.<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- to remove link and thumbnail from this site, please feel free to contact us. <a href="xrateddb.com/contact" >HERE</a><br><br>
We do our best to delete links to inappropriate content expeditiously, when it is reported.<br><br>
Parents! Protect children from adult content: <a href="https://www.opendns.com/home-internet-security/">OpenDNS Family Shield</a>, <a href="https://www1.k9webprotection.com/">K9 Web Protection</a>, <a href="https://www.netnanny.com/">Net Nanny</a>, <a href="https://www.27labs.com/">Cyber Sitter</a>.<br><br>		
</p>	
				</div>
			</div>

{%endblock%}